html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(225, 220, 215);
  /*background: rgb(238, 235, 232);*/
  overflow-x: hidden;
  position: relative;
}


nav:nth-of-type(2).active {
    right:0px !important;
}

.v65-widgetProduct-addToCart legend {
  display: none;
}

.v65-widgetProduct-addToCart fieldset {
  border: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.v65-widgetProduct-addToCart-price {
  display: inline;
  font-size: 1.33em;
}

.v65-widgetProduct-addToCart-unitDescription {
  display: inline;
  font-size: 0.75em;
}

.v65-widgetProduct-addToCart-priceWrapper {
  display: block;
  width: 100%;
}

.v65-widgetProduct-addToCart-productSKU {
  display: none;
}

.v65-widgetProduct-addToCart-quantity input {
  height: 36px !important;
  width: 36px !important;
}

.v65-widgetProduct-addToCart-button button {
  padding: 0.75em 1.2em;
  font-size: 16px;
  background-color: #5d0000;
  color: white;
  border: 0;
}

.v65-widgetModalCart-dropdown {
  display: none;
  background: #fff;
  border: 1px solid #999;
  padding: 10px;
  position: absolute;
  top: 100px;
  right: 0px;
}

.v65-widgetModalCart-closeButton {
  text-align: right;
  margin-bottom: 1em;
}

.v65-widgetModalCart-itemSummary {
  margin-bottom: 1em;
  width: 370px;
}

.group {
  zoom: 1;
}

.group:before, .group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.v65-widgetModalCart-itemSummaryHeader {
  border-bottom: 1px solid #999;
  font-weight: bold;
  line-height: 24px;
  height: 24px;
}

.v65-widgetModalCart-itemSummaryQuantity {
  float: left;
  width: 30px;
  text-align: center;
}

.v65-widgetModalCart-itemSummaryItem {
  float: left;
  width: 50px;
  text-align: center;
}

.v65-widgetModalCart-itemSummaryDescription {
  float: left;
  width: 150px;
}

.v65-widgetModalCart-itemSummaryPrice {
  float: left;
  width: 70px;
  text-align: right;
}

.v65-widgetModalCart-itemSummaryTotal {
  float: left;
  width: 70px;
  text-align: right;
}

.v65-widgetModalCart-items {
  border-bottom: 1px solid #999;
}

.v65-widgetModalCart-itemSummarySubTotal {
  background: #eee;
  width: 370px;
  line-height: 24px;
  height: 24px;
}

.v65-widgetModalCart-itemSummarySubTotalLabel {
  float: left;
  width: 300px;
  text-align: right;
}

.v65-widgetModalCart-itemSummarySubTotalValue {
  float: left;
  width: 70px;
  font-weight: bold;
  text-align: right;
}

.v65-widgetModalCart-BottomButtons {
  text-align: right;
  margin-bottom: 1em;
}

.v65-widgetModalCart-viewCartButton {
  display: inline-block;
  margin-right: 5px;
}

.v65-widgetModalCart-viewCartButton a {
  display: inline-block;
  line-height: 24px;
  height: 24px;
  padding: 0 10px;
  background: #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
}

.v65-widgetModalCart-checkOutButton {
  display: inline-block;
}

.v65-widgetModalCart-checkOutButton a {
  display: inline-block;
  line-height: 24px;
  height: 24px;
  padding: 0 10px;
  background: #5d0000;
  border-radius: 4px;
  text-decoration: none;
  color: #fff !important;
}

.v65-widgetModalCart-status {
  display: none;
}

.v65-widgetLogin-yourAccount {
  display: none;
}

.v65-widgetLogin-login a {
  color: black;
  text-decoration: none;
}

.v65-widgetLogin-login a:visited {
  color: black;
}

.v65-widgetLogin-login a:hover {
  color: #333;
}

.react-datepicker__input-container input {
  width: 100%;
}
