.container {
    width: 100%; 
    margin: 180px auto; 
    position: relative;
}
@media screen and (min-width: 992px) {
    .container {
        margin: 0 auto; 
    }
}

.subSectionContainer {
    display: flex; 
    gap: 1em; 
    padding: 0 5%; 
}

@media screen and (max-width: 950px) {
    .subSectionContainer {
        display: block;
    }
}

.mobileOnly {
    display: none;
}

@media screen and (max-width: 950px) {
    .mobileOnly {
        display: block;
    }
}

.subSectionButtons {
    padding: 0 5%; 
    display: flex; 
    justify-content: space-around; 
    gap: 2em;
    text-align: center;
}

@media screen and (max-width: 950px) {
    .subSectionButtons {
        display: none;
    }
}

.subSection {
    display: flex; 
    flex-direction: column; 
    flex-grow: 1; 
    width: 33%; 
    position: relative; 
    text-align: center;
}

@media screen and (max-width: 950px) {
    .subSection {
        width: 100%;
        margin-bottom: 3em;
    }
}

.mainSectionContainer {
    display: flex; 
    padding: 6vh 5% 0 5%; 
    gap: 2em; 
    position: relative; 
    height: 585px; 
    margin-bottom: 2em;
}

.mainSectionContainer img:last-child {
    display: none;
}

.mainSectionContainer .imageContainer {
    height: 550px; 
    position: relative; 
    max-width: 600px;
    width: 45%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: auto;
}
.mainSectionContainer .redBackground {
    position: absolute; 
    top: calc(6vh + 10%); 
    left: 0; 
    width: 100%; 
    height: 70%; 
    background-color: #5d0000;
}

.mainSectionContainer .tealBackground {
    position: absolute;
    top: calc(6vh + 10%);
    left: -6%;
    width: 112%;
    height: 70%;
    background-color: #066;
}

.mainSectionContainer .goldBackground {
    position: absolute;
    top: calc(6vh + 10%);
    left: -6%;
    width: 112%;
    height: 70%;
    background-color: #d4af37;
}

@media screen and (max-width: 950px) {
    .mainSectionContainer {
        display: block;
        height: inherit;
        padding: 0;
    }

    .mainSectionContainer div:first-child {
        height: inherit;
    }

    .mainSectionContainer .imageContainer {
        width: 100% !important;
        height: auto !important;
        max-width: inherit !important;
        aspect-ratio: 3/2;
        margin-top: 20px;
    }

    .mainSectionContainer:nth-child(8) .imageContainer {
        aspect-ratio: 1;
    }

    .mainSectionContainer img:first-child {
        display: none;
    }

    .mainSectionContainer img:last-child {
        display: block;
    }

    .mainSectionContainer .redBackground {
        height: 105% !important;
        top: -2.5%;
    }

    .mainSectionContainer .tealBackground {
        height: 105% !important;
        top: -2.5%;
    }

    .mainSectionContainer .goldBackground {
        height: 105% !important;
        top: -2.5%;
        margin-top: 20px;
    }
}
