.container {
    width: 90%;
    min-height: 700px;
    margin: 0 auto; 
    margin-bottom: 20px; 
    position: relative;
    display: flex; 
    gap: 20px;
}

.container .imageContainer {
    width: 500px; 
    height: 550px; 
    position: relative;
}

@media screen and (max-width: 950px) {
    .container {
        flex-direction: column;
    }

    .container .imageContainer {
        width: 100%;
    }
}