.teamContainer {
    position: relative;
    display: flex; 
    justify-content: space-between; 
    gap: 2rem; 
    width: 80%; 
    margin: auto; 
    margin-bottom: 2em;
}

.teamContainer > div {
    flex: 1;
    flex-shrink: 0;
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    position: relative;
}

.teamContainer .titleContainer {
    font-size: 18px; 
    margin-bottom: 5px;
    min-height: 50px;
}

.teamContainer .imageContainer {
    width: 100%; 
    aspect-ratio: 1;
    position: relative;
}

@media screen and (max-width: 950px) {
    .teamContainer {
        width: 100%;
    }

    .teamContainer .titleContainer {
        min-height: 110px;
    }
}